In [1]:
import pandas as pd

df = pd.read_csv('dataset/BostonHousing.csv')
df.head(15)

   crim,"zn","indus","chas","nox","rm","age","dis","rad","tax","ptratio","b","lstat","medv"
0   0.00632,18,2.31,"0",0.538,6.575,65.2,4.09,1,29...
1   0.02731,0,7.07,"0",0.469,6.421,78.9,4.9671,2,2...
2   0.02729,0,7.07,"0",0.469,7.185,61.1,4.9671,2,2...
3   0.03237,0,2.18,"0",0.458,6.998,45.8,6.0622,3,2...
4   0.06905,0,2.18,"0",0.458,7.147,54.2,6.0622,3,2...
5   0.02985,0,2.18,"0",0.458,6.43,58.7,6.0622,3,22...
6   0.08829,12.5,7.87,"0",0.524,6.012,66.6,5.5605,...
7   0.14455,12.5,7.87,"0",0.524,6.172,96.1,5.9505,...
8   0.21124,12.5,7.87,"0",0.524,5.631,100,6.0821,5...
9   0.17004,12.5,7.87,"0",0.524,6.004,85.9,6.5921,...
10  0.22489,12.5,7.87,"0",0.524,6.377,94.3,6.3467,...
11  0.11747,12.5,7.87,"0",0.524,6.009,82.9,6.2267,...
12  0.09378,12.5,7.87,"0",0.524,5.889,39,5.4509,5,...
13  0.62976,0,8.14,"0",0.538,5.949,61.8,4.7075,4,3...
14  0.63796,0,8.14,"0",0.538,6.096,84.5,4.4619,4,3...