In [6]:
import sqlalchemy as db

In [3]:
engine = db.create_engine('sqlite:///mydb.db')

In [4]:
conn = engine.connect()

In [5]:
metadata = db.MetaData()

In [7]:
passengers = db.Table(
    'Passenger', metadata,
    db.Column('passenger_id', db.Integer, primary_key=True),
    db.Column('passenger_name', db.Text)
)
passengers

Table('Passenger', MetaData(), Column('passenger_id', Integer(), table=<Passenger>, primary_key=True, nullable=False), Column('passenger_name', Text(), table=<Passenger>), schema=None)

In [8]:
pass_in_trip = db.Table(
    'pass_in_trip', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('trip', db.Integer),
    db.Column('passenger', db.Integer),
    db.Column('place', db.Text)
)
pass_in_trip

Table('pass_in_trip', MetaData(), Column('id', Integer(), table=<pass_in_trip>, primary_key=True, nullable=False), Column('trip', Integer(), table=<pass_in_trip>), Column('passenger', Integer(), table=<pass_in_trip>), Column('place', Text(), table=<pass_in_trip>), schema=None)

In [9]:
trip = db.Table(
    'trip', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('company', db.Text),
    db.Column('plane', db.Text),
    db.Column('town_from', db.Text),
    db.Column('town_to', db.Text),
    db.Column('time_out', db.Date),
    db.Column('time_in', db.Date)
)
trip

Table('trip', MetaData(), Column('id', Integer(), table=<trip>, primary_key=True, nullable=False), Column('company', Text(), table=<trip>), Column('plane', Text(), table=<trip>), Column('town_from', Text(), table=<trip>), Column('town_to', Text(), table=<trip>), Column('time_out', Date(), table=<trip>), Column('time_in', Date(), table=<trip>), schema=None)

In [10]:
company = db.Table(
    'company', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('name', db.Text)
)
company

Table('company', MetaData(), Column('id', Integer(), table=<company>, primary_key=True, nullable=False), Column('name', Text(), table=<company>), schema=None)

In [11]:
metadata.create_all(engine)

In [56]:
passenger_insertion = passengers.insert().values([
    {'passenger_id': 1, 'passenger_name': 'John'},
    {'passenger_id': 2, 'passenger_name': 'Ryan'},
    {'passenger_id': 3, 'passenger_name': 'Matt'},
    {'passenger_id': 4, 'passenger_name': 'Eliad'},
    {'passenger_id': 5, 'passenger_name': 'Diana'},
    {'passenger_id': 6, 'passenger_name': 'Andy'},
    {'passenger_id': 7, 'passenger_name': 'Thomas'},
    {'passenger_id': 8, 'passenger_name': 'Yael'},
  ])
# conn.execute(passenger_insertion)
select_all_passengers = db.select(passengers)
passengers_result = conn.execute(select_all_passengers)
passengers_result.fetchall()

[(1, 'John'),
 (2, 'Ryan'),
 (3, 'Matt'),
 (4, 'Eliad'),
 (5, 'Diana'),
 (6, 'Andy'),
 (7, 'Thomas'),
 (8, 'Yael')]

In [30]:
pass_in_trip_insertion = pass_in_trip.insert().values([
    {'id': 1, 'trip': 1, 'passenger': 1, 'place': 'Moscow'},
    {'id': 2, 'trip': 2, 'passenger': 3, 'place': 'Kiev'},
    {'id': 3, 'trip': 3, 'passenger': 6, 'place': 'Lisboa'},
    {'id': 4, 'trip': 4, 'passenger': 4, 'place': 'Minsk'},
    {'id': 5, 'trip': 5, 'passenger': 1, 'place': 'Berlin'},
    {'id': 6, 'trip': 6, 'passenger': 8, 'place': 'Paris'},
    {'id': 7, 'trip': 7, 'passenger': 5, 'place': 'Minsk'},
    {'id': 8, 'trip': 8, 'passenger': 1, 'place': 'Vladivostok'},
    {'id': 9, 'trip': 9, 'passenger': 3, 'place': 'Berlin'},
    {'id': 10, 'trip': 10, 'passenger': 2, 'place': 'Moscow'},
    {'id': 11, 'trip': 11, 'passenger': 4, 'place': 'Minsk'},
    {'id': 12, 'trip': 12, 'passenger': 3, 'place': 'Paris'},
    {'id': 13, 'trip': 13, 'passenger': 7, 'place': 'Lisboa'},
    {'id': 14, 'trip': 14, 'passenger': 1, 'place': 'Paris'}
  ])
# conn.execute(pass_in_trip_insertion)
select_all_trips = db.select(pass_in_trip)
trips_result = conn.execute(select_all_trips)
trips_result.fetchall()

[(1, 1, 1, 'Moscow'),
 (2, 2, 3, 'Kiev'),
 (3, 3, 6, 'Lisboa'),
 (4, 4, 4, 'Minsk'),
 (5, 5, 1, 'Berlin'),
 (6, 6, 8, 'Paris'),
 (7, 7, 5, 'Minsk'),
 (8, 8, 1, 'Vladivostok'),
 (9, 9, 3, 'Berlin'),
 (10, 10, 2, 'Moscow'),
 (11, 11, 4, 'Minsk'),
 (12, 12, 3, 'Paris'),
 (13, 13, 7, 'Lisboa'),
 (14, 14, 1, 'Paris')]

In [32]:
import datetime


trip_insertion = trip.insert().values([
    {'id': 1, 'company': 'Belavia', 'plane': 'Boeing 737', 'town_to': 'Minsk', 'town_from': 'Moscow', 'time_out': datetime.datetime(2022, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 2, 'company': 'Belavia', 'plane': 'Embraer E-195', 'town_to': 'Los Angeles', 'town_from': 'Kiev', 'time_out': datetime.datetime(2022, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 3, 'company': 'Belavia', 'plane': 'Boeing 737', 'town_to': 'Sidney', 'town_from': 'Minsk', 'time_out': datetime.datetime(2024, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 4, 'company': 'Belavia', 'plane': 'Embraer E-195', 'town_to': 'Bangkok', 'town_from': 'London', 'time_out': datetime.datetime(2023, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 5, 'company': 'Belavia', 'plane': 'Embraer E-195', 'town_to': 'Minsk', 'town_from': 'Moscow', 'time_out': datetime.datetime(2022, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 6, 'company': 'Belavia', 'plane': 'Boeing 737', 'town_to': 'Amsterdam', 'town_from': 'London', 'time_out': datetime.datetime(2024, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 7, 'company': 'Belavia', 'plane': 'Boeing 737', 'town_to': 'Sharm-el-scheih', 'town_from': 'New York', 'time_out': datetime.datetime(2023, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 8, 'company': 'Belavia', 'plane': 'Embraer E-195', 'town_to': 'Moscow', 'town_from': 'Minsk', 'time_out': datetime.datetime(2023, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 9, 'company': 'Belavia', 'plane': 'Embraer E-195', 'town_to': 'Larnaka', 'town_from': 'Keiptown', 'time_out': datetime.datetime(2023, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 10, 'company': 'Belavia', 'plane': 'Embraer E-195', 'town_to': 'Gomel', 'town_from': 'Moscow', 'time_out': datetime.datetime(2023, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
    {'id': 11, 'company': 'Belavia', 'plane': 'Boeing 737', 'town_to': 'Moscow', 'town_from': 'Antalia', 'time_out': datetime.datetime(2023, 4, 21, 17, 54, 30, 209109), 'time_in': datetime.datetime(2021, 4, 21, 19, 54, 30, 209109)},
  ])
conn.execute(trip_insertion)
select_all_trips = db.select(trip)
trips_result = conn.execute(select_all_trips)
trips_result.fetchall()

[(1, 'Belavia', 'Boeing 737', 'Moscow', 'Minsk', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21)),
 (2, 'Belavia', 'Embraer E-195', 'Kiev', 'Los Angeles', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21)),
 (3, 'Belavia', 'Boeing 737', 'Minsk', 'Sidney', datetime.date(2024, 4, 21), datetime.date(2021, 4, 21)),
 (4, 'Belavia', 'Embraer E-195', 'London', 'Bangkok', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21)),
 (5, 'Belavia', 'Embraer E-195', 'Moscow', 'Minsk', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21)),
 (6, 'Belavia', 'Boeing 737', 'London', 'Amsterdam', datetime.date(2024, 4, 21), datetime.date(2021, 4, 21)),
 (7, 'Belavia', 'Boeing 737', 'New York', 'Sharm-el-scheih', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21)),
 (8, 'Belavia', 'Embraer E-195', 'Minsk', 'Moscow', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21)),
 (9, 'Belavia', 'Embraer E-195', 'Keiptown', 'Larnaka', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21)),
 (10, 'Belavia', 'Embraer E-195', 'Moscow', 'Gomel', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21)),
 (11, 'Belavia', 'Boeing 737', 'Antalia', 'Moscow', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21))]

In [33]:
companies_insertion = company.insert().values([
    {'id': 1, 'name': 'Belavia'}
  ])
conn.execute(companies_insertion)
select_all_companies = db.select(company)
companies_result = conn.execute(select_all_companies)
companies_result.fetchall()

[(1, 'Belavia')]

In [55]:
minsk_trips = db.select(trip).group_by(trip.columns.town_to).having(trip.columns.town_to == 'Minsk')
print(minsk_trips)
select_result = conn.execute(minsk_trips)
select_result.fetchall()

SELECT trip.id, trip.company, trip.plane, trip.town_from, trip.town_to, trip.time_out, trip.time_in
FROM trip GROUP BY trip.town_to
HAVING trip.town_to = :town_to_1

[(1, 'Belavia', 'Boeing 737', 'Moscow', 'Minsk', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21))]

In [74]:
table_join = db.select(trip.join(pass_in_trip, trip.columns.id.like(pass_in_trip.columns.trip)))
select_result = conn.execute(table_join)
select_result.fetchall()

[(1, 'Belavia', 'Boeing 737', 'Moscow', 'Minsk', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21), 1, 1, 1, 'Moscow'),
 (2, 'Belavia', 'Embraer E-195', 'Kiev', 'Los Angeles', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21), 2, 2, 3, 'Kiev'),
 (3, 'Belavia', 'Boeing 737', 'Minsk', 'Sidney', datetime.date(2024, 4, 21), datetime.date(2021, 4, 21), 3, 3, 6, 'Lisboa'),
 (4, 'Belavia', 'Embraer E-195', 'London', 'Bangkok', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21), 4, 4, 4, 'Minsk'),
 (5, 'Belavia', 'Embraer E-195', 'Moscow', 'Minsk', datetime.date(2022, 4, 21), datetime.date(2021, 4, 21), 5, 5, 1, 'Berlin'),
 (6, 'Belavia', 'Boeing 737', 'London', 'Amsterdam', datetime.date(2024, 4, 21), datetime.date(2021, 4, 21), 6, 6, 8, 'Paris'),
 (7, 'Belavia', 'Boeing 737', 'New York', 'Sharm-el-scheih', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21), 7, 7, 5, 'Minsk'),
 (8, 'Belavia', 'Embraer E-195', 'Minsk', 'Moscow', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21), 8, 8, 1, 'Vladivostok'),
 (9, 'Belavia', 'Embraer E-195', 'Keiptown', 'Larnaka', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21), 9, 9, 3, 'Berlin'),
 (10, 'Belavia', 'Embraer E-195', 'Moscow', 'Gomel', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21), 10, 10, 2, 'Moscow'),
 (11, 'Belavia', 'Boeing 737', 'Antalia', 'Moscow', datetime.date(2023, 4, 21), datetime.date(2021, 4, 21), 11, 11, 4, 'Minsk')]

In [2]:
from sqlalchemy import union

# table_union = union(db.select(trip), db.select(pass_in_trip))
# select_result = conn.execute(table_union)
# select_result.fetchall()